//colors
$color_cerulean_approx: #0e9bd6;
$color_pink_swan_approx: #b7b7b7;
$color_woodsmoke_approx: #101010;

h1.category_name {
  font-size: 26px;
  margin: 0 0 20px;
}
.category_name span {
  &.name {
    color: $color_cerulean_approx;
  }
  &.count {
    color: $color_pink_swan_approx;
    font-size: 20px;
  }
}
h2.category_description {
  font-size: 16px;
  text-transform: inherit;
  color: $color_woodsmoke_approx;
  text-align: justify;
}
