$color_1: #344154;
$color_2: #fff;
$color_3: #61d6fc;
$color_4: #f53157;
$color_5: #9e9e9e;
$color_6: inherit;
$color_7: #e6e6e6;
$color_8: #1b9cff;
$color_9: #fe8740;
$color_10: #333333;
$color_11: #ffffff;
$color_12: rgba(255, 255, 255, 0.5);
$color_13: #7d8b9e;
$color_14: #000;
$color_15: #e8e8e8;
$color_16: #f2fafc;
$color_17: rgba(255, 255, 255, 0.3);
$color_18: #f1f9fc;
$color_19: #666666;
$color_20: rgba(255, 255, 255, 0.4);
$color_21: #0e1218;
$color_22: #101010;
$color_23: #ff8111;
$color_24: #e92f2f;
$color_25: #bc9352;
$color_26: #669c20;
$color_27: #bb3333;
$color_28: #2a9201;
$color_29: #fff;
$color_30: #d1d1d1;
$color_31: #2a9201;
$color_32: rgba(52, 65, 84, 0.5);
$color_33: #ff0000;
$color_34: #121212;
$color_35: #09ad7e;
$color_36: #999;
$color_37: #aaa;
$font_family_1: "Montserrat", sans-serif;
$font_family_2: "Lato", sans-serif;
$font_family_3: "FontAwesome";
$background_color_1: #344154;
$background_color_2: rgba(52, 65, 84, 0);
$background_color_3: #fff;
$background_color_4: transparent;
$background_color_5: #333333;
$background_color_6: #2c3747;
$background_color_7: #242d3b;
$background_color_8: #0f1318;
$background_color_9: rgba(0, 0, 0, 0.3);
$background_color_10: #d1d1d1;
$background_color_11: #e8e8e8;
$background_color_12: rgba(51, 51, 51, 0.12);
$background_color_13: #fff;
$background_color_14: #0e9bd6;
$background_color_15: #f1f9fc;
$background_color_16: #61d6fc;
$background_color_17: rgba(51, 51, 51, 0);
$background_color_18: rgba(51, 51, 51, 0.58);
$background_color_19: rgba(51, 51, 51, 0.93);
$background_color_20: #ffcc00;
$background_color_21: #ff0000;
$background_color_22: #0099cd;
$background_color_23: #f53157;
$background_color_24: rgba(14, 18, 24, 0.5);
$background_color_25: rgba(14, 18, 24, 0.3);
$background_color_26: rgba(51, 51, 51, 0.7);
$background_color_27: #f9fdfe;
$background_color_28: #f7f7f7;
$background_color_29: #f2fafc;
$background_color_30: #c7e7f3;
$background_color_31: #e4e4e4;
$background_color_32: rgba(255, 255, 255, 0.3);
$background_color_33: #666666;
$background_color_34: #1b9cff;
$background_color_35: #cf0a30;
$background_color_36: #23b6c6;
$background_color_37: #ddd;
$background_color_38: #09ad7e;
$background_color_39: #999;
$border_color_1: rgba(255, 255, 255, 0.5);
$border_color_2: rgba(255, 255, 255, 0.7);
$border_color_3: transparent #333333 transparent;
$border_color_4: #344154;
$border_color_5: #fff;
$border_color_6: #61d6fc;
$border_color_7: #666666;
$border_color_8: rgba(52, 65, 84, 0.5);
$border_color_9: #e8e8e8;
$border_color_10: rgba(51, 51, 51, 0.24) transparent;
$border_color_11: #d1d1d1;
$border_color_12: #f53157;
$border_color_13: #cf0a30;
$border_color_14: #23b6c6;
$border_color_15: #333333;
$border_color_16: #bbb;

$custom_color_1: #fff;
$custom_color_2: #101010;
$custom_color_3: #fe8740;
$custom_color_4: #0e9bd6;
$custom_color_5: #61d6fc;
$custom_font_1: VL AmpleSoft;

$search_color_1: #fff;
$search_color_2: #0e9bd6;
$color_3: #b7b7b7;
$search_color_4: #101010;

$slick_color_1: transparent;
$slick_color_2: white;
$slick_color_3: black;
$slick_font_1: "slick";
